<!DOCTYPE html>
<html>
<head lang="en">
  <meta encoding>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page Title</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
    src="{{ url_for('static', filename='dist/js/keyword.js') }}">
  </script>
</head>
<body>
  {% include 'header.html' %}
  <ul>
    {% for keyword in keywords%}
    <li>
      <input type="checkbox" name="chk_{{ keyword }}" class="chk_keyword" value="{{ keyword }}">
      <label for="chk_{{ keyword }}">{{ keyword }}</label><br>
    </li>
    {% endfor %}
  </ul>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</body>
</html>
